<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientlib.all @ categories='yogaholics.vector'}"/>

<sly	data-sly-use.multiItems="yogaholics.core.models.Multicard">

</sly>
			<div class="alignvertical">


			<div class="itemout">
				<sly data-sly-list.head="${multiItems.cards.listChildren}">
					<div class="item"><img src=${head.pathbr} height=150px width=100% style="padding:4px" alt="Image not found"/>
					<h3>${head.iconname}</h3>
					<p>${head.desc}</p>
			</div>
				</sly>
			</div>

