
<div class="tutorad-box"> 
	


	<div class="tutorad-item">
		<img src="/content/dam/yogaholics/tutor3.jpg" alt="" width="120px" height="120px">
        <div class="desc">
        <h4 style="display:inline-block;">Tutor</h4></a>
        <p>You are reading the world class tutor description. Please click on explore to get more idea about our plans
        You are reading the world class tutor description. Please click on explore to get more idea about our plans</p>
		</div>
    </div>

    <div class="tutorad-item">
		<img src="/content/dam/yogaholics/tutor2.jpg" alt="" width="100px" height="100px">
        <div class="desc">
        <h4 style="display:inline-block;">Tutor</h4>
        <p>You are reading the world class tutor description. Please click on explore to get more idea about our plans</p>
		</div>
    </div>

     <div class="tutorad-item">
		<img src="/content/dam/yogaholics/tutor4.jpg" alt="" width="100px" height="100px">
        <div class="desc">
        <h4 style="display:inline-block;">Tutor</h4>
        <p>You are reading the world class tutor description. Please click on explore to get more idea about our plans</p>
		</div>
    </div>

    <a class="normal-anch" href="#">click here to connect</a>



</div>

