body{

}

.cmp-contentfragment__element:first-child{
	color: #EBA86F;
    font-size:30px;
    font-weight:bolder;
    text-align: center;

}

.cmp-contentfragment__element.cmp-contentfragment__element--author{
	font-weight:bolder;
    text-align: center;
}

.yogaholics-cf--grey img{
  max-width: 100%;
  height: auto;
}

.cmp-contentfragment__element:last-child{
		 /* Adding a comment is possible in this way only. */ 
}


.yogaholics-cf--grey{

	color:#545554;
  	padding:25px 30px;
    background-color:#f8f9fa;
    width:70vw;
    margin:auto;
    border-radius:10px;
    margin-top:30px;
    padding-bottom:30px;
    margin-bottom:20px;


}






.normal-anch{
	text-decoration:none;
    color:black;

}
nav{

	background-color:#6FB2EB;
    width:100vw;
	padding:50px 0;

}

.logo{
		color:white;
    	font-size:25px;
    	font-weight:bolder;
    }
.cardcont{


	display:flex;

    flex-wrap:wrap;
    width:100%;
       margin:auto;
    justify-content:flex-start;
	    	padding:20px 0;
	border-collapse:collapse;
}



.search{
	color:white;
}
.nav-cont{
	width:70vw;
    padding:10px 0;
}
.nav-link{

   	font-weight:bolder;
}




.carditem{


    	width:200px;

    	margin-top:15px;
    	margin-left:50px;
        font-size:12px;
    	padding:10px;
		flex-basis:250px;
    	    border:2px solid #6FB2EB;
    	border-radius:12px;
}

.carditem h3{
 font-size:15px;
    margin-left:10px;
    margin-top:15px;
    color:blue;

}
.carditem p{

       margin-left:10px;

}
.carditem img{

       border-radius:15px;

}

.alignvertical{
    display:flex;
    margin:auto;
    flex-direction:column;
     align-items:center;
  /*  border: 2px solid red;*/
    width:70%;
	margin-top:50px;
	margin-bottom:50px;
}



.tutorad-box{

	display:flex;
    width:85vw;
    margin:auto;
    flex-direction:column;


  	align-items:center;
    border-radius:30px 0;
    padding:30px 0 15px 0;

       /*background-color:#e1e1e1;
    border:2px solid purple;*/



}
.tutorad-item{
	display:flex;

	 flex-direction:row;
	width:90%;
    justify-content:space-around;

    flex-wrap:wrap;
    margin:0px 0 15px 0;
    padding:10px 20px;
    align-items:center;
    background-color:purple;
	 border-radius:40px 0;
      color:white;


}

.desc{

	width:70%;

}

.tutorad-item>img{
	border-radius:50%;

}






.cmp-contentfragment__element-label{
	display:none;

}






