
nav{

	background-color:#6FB2EB;
    width:100vw;
	padding:50px 0;
}

.logo{
		color:white;
    	font-size:25px;
    	font-weight:bolder;
    }



.search{
	color:white;
}
.nav-cont{
	width:70vw;
    padding:10px 0;
}
nav-link{

   	font-weight:bolder;
}