<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" data-sly-call="${clientlib.all @ categories='yogaholics.test'}"/>

  <body>
    <div class="event-container">
      <div class="event">
        <div class="event-left">
          <div class="event-date">
            <div class="date"> ${'dd MMM yyyy' @ format= properties.date}</div>
          </div>
        </div>

        <div class="event-right">
          <h3 class="event-title">${properties.title}</h3>

          <div class="event-description">
            ${properties.desc} 
          </div>

          <div class="event-timing">
			${'HH:mm' @ format= properties.time, timezone='GMT+05:30'}
			To ${'HH:mm' @ format= properties.endtime, timezone='GMT+05:30'}
          </div>
		  <button class="button" style="vertical-align:middle"><span>Register </span></button>
      </div>
      </div>
    </div>
  </body>